<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="metadataAndDebugEnabled">
				  <serviceDebug
					includeExceptionDetailInFaults="false"/>
			  </behavior>
		  </serviceBehaviors>
	  </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISPFileUpload">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://srvpbashare.mdaote.bepensa.local/SPFileUpload.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISPFileUpload"
        contract="SPFileUpload.ISPFileUpload" name="WSHttpBinding_ISPFileUpload" />
    </client>
  </system.serviceModel>
</configuration>